.mainContainer{
    min-height: 100vh;
    background-color: black;
    background-image: url(../../public/images_/Group\ 1.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.innerContainer{
    display: flex;
    min-height: 100vh;
    height: 100vh;

}
.leftContainer main{
    width: 100%; 
   align-self: center;
   height: 100%;
}
.leftContainer{
     width: 100%; 
    align-self: center;
    height: 60%;
}
.titleContainer{
    color: white;
    text-align: left;
    margin: 3em 0;
    width: 100%;

}
.titleContainer h2{
font-size: 2rem;
font-weight: 900;
}
.titleContainer text{
color: var(--green-pry-1);

}
.titleContainer small{
    font-size: 0.9rem;
    color: #666;
}
.titleContainer p{
font-size: 1.2rem;
}
.leftContainer  main  > div{
width:100%;
margin: auto;
height: 100%;

}
.leftContainer form input{
width: 100%;
border: 0;
outline: 0;
font-size: 1.1rem;
}
.leftContainer form{
    display: flex;
    margin: 1.5em;
    flex-direction: column;
    justify-content: space-between; 
    height: 60%;
}
.leftContainer form > div{
    background-color: white;
    border-radius: 7px;
padding: 0.4em 0.7em;
}
.leftContainer form label{
    font-size: 0.8rem;
}
.leftContainer form > div:nth-child(3){
background-color: transparent;
color: white;
font-size: 0.9rem;
}
.leftContainer form input[type="checkbox"]{
width: fit-content !important;
margin-right: 1em;
cursor: pointer;

}
.leftContainer form button{
    background-color: var(--green-pry-1);
    height: 60px;
    border-radius: 7px; 
    color: white;
    font-size: 1.1rem; 
    font-weight: 600;
    cursor: pointer;
}
.leftContainer form a{
    text-decoration: underline; 
    color: var(--green-pry-1); 
}
.rightContainer{
    width: 0;
    display: none;
    height: 100%;
    background-image: url(../../public/images_/bg-1.png);
    background-size: 100% 70%;   
    background-repeat: no-repeat; 
    background-position: center;
}
.leftContainer  main > div > p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
 
.leftContainer  main  > div > p a{
    color: var(--green-pry-1);

}
.passwordInput{
    font-size: 1.1rem;
}

@media screen and (min-width:540px) {
    .mainContainer{
        min-height: 100vh;
        background-color: black;
        background-image: url(../../public/images_/Group\ 1.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .innerContainer{
        display: flex;
        min-height: 100vh;
    }
    .leftContainer{
         width: 100%; 
        align-self: center;
        height: 60%;
    }
    .titleContainer{
        color: white;
        text-align: left;
        margin: 3em 0;
        width: 100%;
    
    }
    .titleContainer h2{
    font-size: 2rem;
    font-weight: 900;
    }
    .titleContainer text{
    color: var(--green-pry-1);
    
    }
    .titleContainer small{
        font-size: 0.9rem;
        color: #666;
    }
    .titleContainer p{
    font-size: 1.2rem;
    }
    .leftContainer  main  > div{
    width:60%;
    margin: auto;
    height: 60%;
    
    }
    .leftContainer form input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    }
    .leftContainer form{
        display: flex;
        margin: 1.5em;
        flex-direction: column;
        justify-content: space-between; 
        height: 100%;
    }
    .leftContainer form > div{
        background-color: white;
        border-radius: 7px;
    padding: 1em 1.3em;
    }
    .leftContainer form label{
        font-size: 0.8rem;
    }
    .leftContainer form > div:nth-child(3){
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    }
    .leftContainer form input[type="checkbox"]{
    width: fit-content !important;
    margin-right: 1em;
    cursor: pointer;
    
    }
    .leftContainer form button{
        background-color: var(--green-pry-1);
        height: 60px;
        border-radius: 7px; 
        color: white;
        font-size: 1.1rem; 
        font-weight: 600;
        cursor: pointer;
    }
    .leftContainer form a{
        text-decoration: underline; 
        color: var(--green-pry-1); 
    }
    .rightContainer{
        width: 0;
        display: none;
        height: 100%;
        background-image: url(../../public/images_/bg-1.png);
        background-size: 100% 70%;   
        background-repeat: no-repeat; 
        background-position: center;
    }
    .leftContainer  main > div > p{
        color: white;
        text-align: center;
        font-size: 1.1rem;
    }
     
    .leftContainer  main  > div > p a{
        color: var(--green-pry-1);
    
    }
    .passwordInput{
        font-size: 1.1rem;
    }
}
@media screen and (min-width:1024px) {
    .mainContainer{
        min-height: 100vh;
        background-color: black;
        background-image: url(../../public/images_/Group\ 1.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .innerContainer{
        display: flex;
        min-height: 100vh;
    }
    .leftContainer{
         width: 50%; 
        align-self: center;
        height: 60%;
    }
    .titleContainer{
        color: white;
        text-align: left;
        margin: 3em 0;
        width: 100%;
    
    }
    .titleContainer h2{
    font-size: 2rem;
    font-weight: 900;
    }
    .titleContainer text{
    color: var(--green-pry-1);
    
    }
    .titleContainer small{
        font-size: 0.9rem;
        color: #666;
    }
    .titleContainer p{
    font-size: 1.2rem;
    }
    .leftContainer  main  > div{
    width:80%;
    margin: auto;
    height: 60%;
    
    }
    .leftContainer form input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    }
    .leftContainer form{
        display: flex;
        margin: 1.5em;
        flex-direction: column;
        justify-content: space-between; 
        height: 100%;
    }
    .leftContainer form > div{
        background-color: white;
        border-radius: 7px;
    padding: 1em 1.3em;
    }
    .leftContainer form label{
        font-size: 0.8rem;
    }
    .leftContainer form > div:nth-child(3){
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    }
    .leftContainer form input[type="checkbox"]{
    width: fit-content !important;
    margin-right: 1em;
    cursor: pointer;
    
    }
    .leftContainer form button{
        background-color: var(--green-pry-1);
        height: 60px;
        border-radius: 7px; 
        color: white;
        font-size: 1.1rem; 
        font-weight: 600;
        cursor: pointer;
    }
    .leftContainer form a{
        text-decoration: underline; 
        color: var(--green-pry-1); 
    }
    .rightContainer{
        display: block;
        width: 50%;
        height: 100%;
        background-image: url(../../public/images_/bg-1.png);
        background-size: 100% 70%;   
        background-repeat: no-repeat; 
        background-position: center;
    }
    .leftContainer  main  > div > p{
        color: white;
        text-align: center;
        font-size: 1.1rem;
    }
     
    .leftContainer  main  > div > p a{
        color: var(--green-py-1);
    
    }
    .passwordInput{
        font-size: 1.1rem;
    }
    
}


@media screen and (min-width:1400px) {
    .mainContainer{
        min-height: 100vh;
        background-color: black;
        background-image: url(../../public/images_/Group\ 1.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .innerContainer{
        display: flex;
        min-height: 100vh;
    }
    .leftContainer{
         width: 50%; 
        align-self: center;
        height: 60%;
    }
    .titleContainer{
        color: white;
        text-align: left;
        margin: 3em 0;
        width: 100%;
    
    }
    .titleContainer h2{
    font-size: 2rem;
    font-weight: 900;
    }
    .titleContainer text{
    color: var(--green-pry-1);
    
    }
    .titleContainer small{
        font-size: 0.9rem;
        color: #666;
    }
    .titleContainer p{
    font-size: 1.2rem;
    }
    .leftContainer  main  > div{
    width:50%;
    margin: auto;
    height: 60%;
    
    }
    .leftContainer form input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    }
    .leftContainer form{
        display: flex;
        margin: 1.5em;
        flex-direction: column;
        justify-content: space-between; 
        height: 100%;
    }
    .leftContainer form > div{
        background-color: white;
        border-radius: 7px;
    padding: 1em 1.3em;
    }
    .leftContainer form label{
        font-size: 0.8rem;
    }
    .leftContainer form > div:nth-child(3){
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    }
    .leftContainer form input[type="checkbox"]{
    width: fit-content !important;
    margin-right: 1em;
    cursor: pointer;
    
    }
    .leftContainer form button{
        background-color: var(--green-pry-1);
        height: 60px;
        border-radius: 7px; 
        color: white;
        font-size: 1.1rem; 
        font-weight: 600;
        cursor: pointer;
    }
    .leftContainer form a{
        text-decoration: underline; 
        color: var(--green-pry-1); 
    }
    .rightContainer{
        width: 50%;
        display: block;
        height: 100%;
        background-image: url(../../public/images_/bg-1.png);
        background-size: 100% 100%;   
        background-repeat: no-repeat; 
        background-position: center;
    }
    .leftContainer  main  > div > p{
        color: white !important;
        text-align: center;
        font-size: 1.1rem;
    }
     
    .leftContainer  main  > div > p a{
        color: var(--green-pry-1);
    
    }
    .passwordInput{
        font-size: 1.1rem;
    }
    
}