
.sellListContainer{
   height:50%;
   overflow: scroll;
   display: flex;
   flex-direction: column-reverse;
 
}
.sellListContainer li:nth-child(odd){
    background-color: #ccc;
    padding: 0.3em 0.5em;

}.sellListContainer li:nth-child(even){
    background-color: #ddd;
    padding: 0.3em 0.5em;

}
.sellListContainer :is(li),.buyListContainer :is(li){
    font-size: 1.1rem;
}
.buyListContainer{
    height: 50%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.buyListContainer li:nth-child(odd){
    background-color: #333;
    padding: 0.3em 0.5em;
}.buyListContainer li:nth-child(even){
    background-color: #444;
    padding: 0.3em 0.5em;

}