.MainSectionContainerForCharts {
  display: flex;
  overflow: hidden;
  justify-content: space-between;

}
.LeftChartData {
  width: 30%;
position: relative;
}
.CenterChartData{
    width: 55%;
    position: relative;
    height: 70%;
}
.Order{
  width: 15%;
  max-height: 100vh;
  overflow: hidden;
}